<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap"
        rel="stylesheet"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
        rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Gelion&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet" />
    <link href="../static/css/main.css" rel="stylesheet" />
    <title>LARs - Legal Advice and Resolutions</title>
</head>
<header class="header">
    <div class="header__logo">
        <span><a href="../templates/index.html">LARs</a></span>
    </div>
    <nav class="header__nav">
        <a id="tombolChat1">Chat Live</a>
        <a href="#services">Services</a>
        <a href="#about">About</a>
    </nav>
    <div class="header__auth">
        <a href="login_lars.html">Login</a>
        <a href="login_lars.html">Sign Up</a>
    </div>
</header>
<body>
    <main class="main-section">
        <section class="hero">
            <div class="hero__text">
                <h1>Hallo, There!</h1>
                <p>Come on Consult with <b>LARs</b></p>
                <button id="tombolChat2">Get Started</button>
                <div id="containerAnimasi">
                    <div id="animasiGeser"></div>
                </div>
            </div>
            <div class="hero__image" style="background-image: url(../static/images2/tech-img-flip.png);">
                <div class="image-container">
                    <Img style="background-image: url('../static/vectors/group_128_x2.svg');" src="../static/images/v242_1281.png"></Img>
                </div>
            </div>
        </section>

        <section id="about" class="about-section" style="background-image: url(../static/images2/tech-img2.png);">
            <div class="about-section__text" >
                <h1>Tentang Kami</h1>
                <p>LARs (Legal Advice and Resolutions) adalah platform inovatif yang memberikan akses mudah dan gratis untuk konsultasi hukum kepada masyarakat umum. Tujuannya adalah memberikan bantuan dan informasi hukum masyarakat umum yang mungkin tidak memiliki akses atau sumber daya untuk mendapatkan bantuan hukum secara tradisional. LARs hadir sebagai respons atas tantangan akses terhadap sistem hukum yang sering dihadapi di banyak negara, termasuk Indonesia, di mana biaya konsultasi dengan pengacara dapat mahal dan proses mendapatkan bantuan hukum kompleks dan memakan waktu.</p>
            </div>
        </section>

        <section id="services" class="services-section">
            <h2>Our Services</h2>
            <div class="service-card__container">
                <div class="service-card blue">
                    <div class="service-card__image"><img src="../static/images/v234_1012.png"></div>
                    <div class="service-card__text">
                        <h3>Hukum Ketenagakerjaan</h3>
                        <p>Hukum ketatanegaraan adalah cabang hukum yang mengatur struktur,
                            kekuasaan, dan hubungan antara lembaga-lembaga negara, serta hubungan
                            antara negara dengan warga negaranya. Hukum ini mencakup konstitusi
                            atau undang-undang dasar, pembagian kekuasaan, sistem pemerintahan,
                            pemilihan umum, dan hak-hak warga negara.</p>
                    </div>
                    <div class="see-more-btn"><a href="/ketenagakerjaan_page">See More</a></div>
                </div>
                <div class="service-card">
                    <div class="service-card__image"><img src="../static/images/v234_1019.png"></div>
                    <div class="service-card__text">
                        <h3>Hukum Perdata</h3>
                        <p>Hukum perdata adalah cabang hukum yang mengatur hubungan antara individu
                            atau badan hukum dalam kehidupan bermasyarakat, terutama dalam hal
                            kepemilikan, perikatan (perjanjian), dan hak-hak pribadi. Hukum perdata
                            meliputi hukum benda, hukum perikatan, hukum keluarga, hukum waris, dan
                            hukum dagang.</p>
                    </div>
                    <div class="see-more-btn"><a href="/perdata_page">See More</a></div>
                </div>
                <div class="service-card blue">
                    <div class="service-card__image"><img src="../static/images/v260_554.png"></div>
                    <div class="service-card__text">
                        <h3>Hukum Pidana</h3>
                        <p>Hukum pidana adalah cabang hukum yang mengatur tentang tindak pidana
                            (kejahatan) dan sanksi yang dapat dijatuhkan kepada pelaku tindak pidana
                            tersebut. Hukum pidana bertujuan untuk melindungi masyarakat dari
                            tindakan yang merugikan dan melanggar hukum, serta menciptakan
                            ketertiban dan keamanan dalam kehidupan bermasyarakat.</p>
                    </div>
                    <div class="see-more-btn"><a href="/pidana_page">See More</a></div>
                </div>
                <div class="service-card">
                    <div class="service-card__image"><img src="../static/images/v234_1029.png"></div>
                    <div class="service-card__text">
                        <h3>Pengetahuan Hukum Umum</h3>
                        <p>Hukum umum adalah istilah yang digunakan untuk merujuk pada
                            prinsip-prinsip dan peraturan hukum yang berlaku secara umum dalam
                            suatu sistem hukum. Hukum umum mencakup berbagai cabang hukum seperti
                            hukum ketatanegaraan, hukum perdata, hukum pidana, hukum acara, dan
                            hukum administrasi negara.</p>
                    </div>
                    <div class="see-more-btn"><a href="/umum_page">See More</a></div>
                </div>
            </div>
            <div class="goals">
                <p>LARs mempunyai visi untuk menciptakan akses yang lebih adil dan inklusif terhadap sistem hukum, kami berusaha untuk menjadikan pemahaman dan navigasi hukum lebih mudah dan dapat diakses oleh semua orang.</p>
            </div>
        </section>

        <section class="team-members">
            <div class="image-left">
                <img src="../static/images/v242_1280.png">
            </div>
            <div class="image-right">
                <img src="../static/images/v242_1281.png">
            </div>
            <h2>Meet Our Team</h2>
            <div class="team-members-container">
                <div class="team-card">
                    <div class="team-card-image">
                    <img src="../static/images2/P-Iqbal.jpg">
                    </div>
                    <div class="team-card-text">
                        <h3>MUHAMMAD IQBAL MAULANA</h3>
                        <p>
                        Machine Learning Engineer
                        </p>
                    </div>
                </div>
                <div class="team-card">
                    <div class="team-card-image">
                    <img src="../static/images2/P-Ryan.jpg">
                    </div>
                    <div class="team-card-text">
                        <h3>RYAN HADI ARDHIANSYAH</h3>
                        <p>
                        Data Scientist & UX/Back End
                        </p>
                    </div>
                </div>
                <div class="team-card">
                    <div class="team-card-image">
                    <img src="../static/images2/P-Zahra.jpg">
                    </div>
                    <div class="team-card-text">
                        <h3>ZAHRA KAMILA</h3>
                        <p>
                        UI/UX Designer
                        </p>
                    </div>
                </div>
                <div class="team-card">
                    <div class="team-card-image">
                    <img src="../static/images2/P-Priska.jpg">
                    </div>
                    <div class="team-card-text">
                        <h3>PRISKA ELIYANTI</h3>
                        <p>
                        UI/UX Programmer (HTML, CSS, JS)
                        </p>
                    </div>
                </div>
                <div class="team-card">
                    <div class="team-card-image">
                    <img src="../static/images2/P-Arida.jpg">
                    </div>
                    <div class="team-card-text">
                        <h3>ARIDA DEWI AYSA</h3>
                        <p>
                        Laporan Akhir
                        </p>
                    </div>
                </div>
                <div class="team-card">
                    <div class="team-card-image">
                    <img src="../static/images2/P-Dea.jpg">
                    </div>
                    <div class="team-card-text">
                        <h3>DEA YULIANA</h3>
                        <p>
                        Laporan Akhir
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
<footer class="footer">
    <div class="footer__description">
        <p>Kami bangga memberikan solusi obrolan pintar yang mampu <br>
            meningkatkan pengalaman pelanggan di berbagai daerah Indonesia, <br>
            menghadirkan komunikasi yang lebih efisien dan responsif.</p>
    </div>
    <div class="footer__container">    
        <div class="footer__logo">
            <span>LARs</span>
        </div>
        <div class="footer__list">
            <div class="footer__nav">
                <span>DISCOVER</span>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">People</a>
            </div>
            <div class="footer__contact">
                <span>CONTACT</span>
                <a>LARs@gmail.com</a>
                <a>0812 XXX XXX</a>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__copyright">
            <span>LARs &copy;2024</span>
        </div>
        <div class="footer__social">
            <a href="#">INSTAGRAM</a>
            <a href="#">BEHANCE</a>
            <a href="#">LINKED</a>
        </div>
    </div>
</footer>
<script src="{{ url_for('static', filename='Javascript/main.js') }}"></script>
</html>