<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/css/login_lars.css" />
    <title>login LARs</title>
  </head>
  <body>
    <div class="container">
      <div class="login-form">
        <div class="logo">
          <img src="../images/v242_1280.png" alt="LARs" />
        </div>
        <h1>LARs</h1>
        <h2>Welcome Back!</h2>
        <p>Please enter your details</p>
        <form>
          <div class="form-group">
            <input type="email" id="email" placeholder="Enter your email" required />
          </div>
          <div class="form-group password-field">
            <input type="password" id="password" placeholder="Enter your password" required />
          </div>
          <div class="options">
            <label>
              <input type="checkbox" />
              Remember me
            </label>
            <a href="#">Forgot Password?</a>
          </div>
          <button type="submit">Login</button>
        </form>
      </div>
      <div class="image-container">
        <div class="image-1">
          <img style="background-image: url('../static/vectors/group_128_x2.svg');" src="../images/v242_1281.png" />
        </div>
      </div>
    </div>
  </body>
  <script src="../Javascript/main.js"></script>
</html>
