<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap"
        rel="stylesheet"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
        rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Gelion&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet" />
    <link href="../static/css/service_hukum_umum.css" rel="stylesheet" />
    <script src="https://unpkg.com/feather-icons"></script>
    <title>Service Pengetahuan Hukum Umum</title>
</head>
<header class="header">
    <div class="header__logo">
        <span><a href="/">LARs</a></span>
    </div>
    <nav class="header__nav">
        <a id="tombolChat1">Chat Live</a>
        <a href="#about">About</a>
    </nav>
    <div class="header__auth">
        <a href="login_lars.html">Login</a>
        <a href="login_lars.html">Sign Up</a>
    </div>
</header>
<body>
    <main class="main-section">
        <section class="hero" style="background-image:url('../static/images/img_hukum_umum.jpeg') ;">
            <div class="hero__text">
                <h1><b>PENGETAHUAN HUKUM UMUM</b></h1>
            </div>
        </section>

        <div class="image-left">
            <img src="../static/images/v242_1280.png">
        </div>

        <section id="about" class="about-section">
            <div class="about-section__text" >
                <h1>Pengertian Hukum</h1>
                <p>Hukum di Indonesia dapat didefinisikan sebagai sekumpulan aturan dan norma yang dibuat dan diakui oleh negara untuk mengatur perilaku masyarakat, melindungi hak-hak individu, menjaga ketertiban, dan mencapai keadilan. Hukum di Indonesia berfungsi untuk memberikan pedoman bagi perilaku masyarakat, menyelesaikan sengketa, serta menjamin dan melindungi hak-hak warga negara.</p>
            </div>
        </section>

        <div class="image-right">
            <img src="../static/images/v242_1281.png">
        </div>

        <section class="services-section">
            <h2>Sumber Hukum di Indonesia</h2>
            <div class="service-card__container">
                <div class="service-card blue">
                    <div class="service-card__text">
                        <div class="title-card"><h3>Undang-Undang Dasar 1945</h3></div>
                        <p>Konstitusi negara yang merupakan sumber utama hukum di Indonesia.</p>
                    </div>
                </div>
                <div class="service-card">
                    <div class="service-card__text">
                      <div class="title-card"><h3>Peraturan Perundang-undangan</h3></div>
                        <p>Termasuk undang-undang, peraturan pemerintah, peraturan presiden, dan peraturan daerah.</p>
                    </div>
                </div>
                <div class="service-card blue">
                    <div class="service-card__text">
                      <div class="title-card"><h3>Kebiasaan (Hukum adat)</h3></div>
                        <p>Kebiasaan yang diakui dan diterima sebagai hukum oleh masyarakat.</p>
                    </div>
                </div>
                <div class="service-card">
                  <div class="service-card__text">
                    <div class="title-card"><h3>Yurisprudensi</h3></div>
                      <p>Putusan-putusan pengadilan yang dijadikan pedoman dalam memutus perkara-perkara serupa di masa depan.</p>
                  </div>
              </div>
              <div class="service-card blue">
                  <div class="service-card__text">
                    <div class="title-card"><h3>Traktat</h3></div>
                      <p>Perjanjian atau kesepakatan resmi yang dibuat antara dua negara atau lebih yang mengikat secara hukum.</p>
                  </div>
              </div>
              <div class="service-card">
                <div class="service-card__text">
                  <div class="title-card"><h3>Doktrin</h3></div>
                    <p>Pendapat atau ajaran dari para ahli hukum yang diakui dan dihormati dalam dunia hukum.</p>
                </div>
            </div>
        </section>
        
        <section class="list-container">
            <div class="list-card blue">
                <div class="img-title">
                    <img src="../static/images/v242_1281.png">
                    <h2>Pembagian Hukum</h2>
                </div>
                <p><strong>Hukum Publik:</strong></p>
                <ul>
                    <li><b>Hukum Pidana:</b> Mengatur perbuatan yang dilarang dan sanksinya.</li>
                    <li><b>Hukum Tata Negara:</b> Mengatur struktur dan fungsi lembaga negara.</li>
                    <li><b>Hukum Administrasi Negara:</b> Mengatur hubungan pemerintah dan masyarakat.</li>
                    <li><b>Hukum Internasional:</b> Mengatur hubungan antar negara.</li>
                </ul>
                <p><strong>Hukum Privat:</strong></p>
                <ul>
                    <li><b> Hukum Perdata:</b> Mengatur hak dan kewajiban individu dalam keluarga, waris, benda, dan perjanjian.</li>
                    <li><b> Hukum Dagang:</b> Mengatur kegiatan perdagangan dan bisnis.</li>
                </ul>
            </div>
            <div class="list-card">
                <div class="img-title">
                    <img src="../static/images/v242_1281.png">
                    <h2>Prinsip-Prinsip Hukum</h2>
                </div>
                <p><strong>Prinsip-Prinsip Hukum:</strong></p>
                <ul>
                    <li><b>Legalitas:</b> Tindakan pemerintah harus berdasarkan hukum.</li>
                    <li><b>Kepastian Hukum:</b> Hukum harus jelas dan dapat diprediksi.</li>
                    <li><b>Keadilan:</b> Hukum memberikan keadilan bagi semua orang.</li>
                    <li><b>Kemanusiaan:</b> Hukum menghormati dan melindungi hak asasi manusia.</li>
                    <li><b>Non-Retroaktif:</b> Hukum tidak berlaku surut.</li>
                </ul>
            </div>
            <div class="list-card blue">
                <div class="img-title">
                    <img src="../static/images/v242_1281.png">
                    <h2>Struktur Peradilan</h2>
                </div>
                <p><strong>Struktur Peradilan:</strong></p>
                <ul>
                    <li><b>Mahkamah Agung (MA):</b> Lembaga peradilan tertinggi.</li>
                    <li><b>Mahkamah Konstitusi (MK):</b> Menyelesaikan sengketa antar lembaga negara.</li>
                    <li><b>Peradilan Umum:</b> Pengadilan Negeri, Pengadilan Tinggi, dan MA.</li>
                    <li><b>Peradilan Khusus:</b> Pengadilan Agama, Tata Usaha Negara, dan Militer.</li>
                    <li><b>Komisi Yudisial:</b> Mengawasi perilaku hakim.</li>
                </ul>
            </div>
        </section>

        <section class="windows-place">
            <h2>Penegakan Hukum di Indonesia</h2>
            <div class="windows-place-container">
                <div class="windows-card">
                    <div class="windows-card-image">
                    <img src="../static/images/rectangle_394.jpeg">
                    </div>
                    <div class="windows-card-text">
                        <h3>Kepolisian</h3>
                        <p>
                        Menyidik dan menindak pelanggaran hukum pidana.
                        </p>
                    </div>
                </div>
                <div class="windows-card">
                    <div class="windows-card-image">
                    <img src="../static/images/rectangle_392.jpeg">
                    </div>
                    <div class="windows-card-text">
                        <h3>Kejaksaan</h3>
                        <p>
                        Menuntut pelanggar hukum di pengadilan.
                        </p>
                    </div>
                </div>
                <div class="windows-card">
                    <div class="windows-card-image">
                    <img src="../static/images/rectangle_398.jpeg">
                    </div>
                    <div class="windows-card-text">
                        <h3>Pengadilan</h3>
                        <p>
                        Mengadili dan memutus perkara.
                        </p>
                    </div>
                </div>
                <div class="windows-card">
                    <div class="windows-card-image">
                    <img src="../static/images/rectangle_402.jpeg">
                    </div>
                    <div class="windows-card-text">
                        <h3>Advokat</h3>
                        <p>
                        Memberikan bantuan hukum.
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
<footer class="footer">
    <div class="footer__description">
        <p>Kami bangga memberikan solusi obrolan pintar yang mampu <br>
            meningkatkan pengalaman pelanggan di berbagai daerah Indonesia, <br>
            menghadirkan komunikasi yang lebih efisien dan responsif.</p>
    </div>
    <div class="footer__container">    
        <div class="footer__logo">
            <span>LARs</span>
        </div>
        <div class="footer__list">
            <div class="footer__nav">
                <span>DISCOVER</span>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">People</a>
            </div>
            <div class="footer__contact">
                <span>CONTACT</span>
                <a>LARs@gmail.com</a>
                <a>0812 XXX XXX</a>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__copyright">
            <span>LARs &copy;2024</span>
        </div>
        <div class="footer__social">
            <a href="#">INSTAGRAM</a>
            <a href="#">BEHANCE</a>
            <a href="#">LINKED</a>
        </div>
    </div>
</footer>
<script src="{{ url_for('static', filename='Javascript/main.js') }}"></script>
</html>