<!DOCTYPE html>
<html>
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap"
        rel="stylesheet"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
        rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css?family=Gelion&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Arimo&display=swap" rel="stylesheet" />
    <link href="../static/css/service_ketenagakerjaan.css" rel="stylesheet" />
    <script src="https://unpkg.com/feather-icons"></script>
    <title>Service Hukum Ketenagakerjaan</title>
</head>
<header class="header">
    <div class="header__logo">
        <span><a href="/">LARs</a></span>
    </div>
    <nav class="header__nav">
        <a id="tombolChat1">Chat Live</a>
        <a href="#about">About</a>
    </nav>
    <div class="header__auth">
        <a href="login_lars.html">Login</a>
        <a href="login_lars.html">Sign Up</a>
    </div>
</header>
<body>
    <main class="main-section">
        <section class="hero" style="background-image:url('../static/images/img_ketenagakerjaan.jpeg') ;">
            <div class="hero__text">
                <h1><b>HUKUM KETENAGAKERJAAN</b></h1>
            </div>
        </section>

        <div class="image-left">
            <img src="../static/images/v242_1280.png">
        </div>

        <section id="about" class="about-section">
            <div class="about-section__text" >
                <h1>Pengertian Hukum ketenagakerjaan</h1>
                <p>Hukum ketenagakerjaan adalah cabang hukum yang mengatur hubungan antara pekerja dan pemberi kerja, termasuk hak dan kewajiban kedua belah pihak dalam konteks hubungan kerja. Hukum ini mencakup berbagai aspek mulai dari perekrutan, kondisi kerja, upah, waktu kerja, keamanan dan kesehatan kerja, hingga pemutusan hubungan kerja. Tujuannya adalah untuk melindungi hak-hak pekerja sekaligus memastikan bahwa pemberi kerja dapat menjalankan bisnis mereka dengan efisien dan adil.</p>
            </div>
        </section>

        <section class="services-section">
            <h2>Aspek Hukum Ketenagakerjaan</h2>
            <div class="service-card__container">
                <div class="service-card blue">
                    <div class="service-card__text">
                        <div class="title-card"><h3>Perjanjian Kerja</h3></div>
                        <p>Mengatur syarat dan ketentuan kerja yang harus disepakati oleh pekerja dan pemberi kerja.</p>
                    </div>
                </div>
                <div class="service-card">
                    <div class="service-card__text">
                      <div class="title-card"><h3>Upah dan Tunjangan</h3></div>
                        <p>Menentukan standar minimum upah dan berbagai tunjangan yang berhak diterima oleh pekerja.</p>
                    </div>
                </div>
                <div class="service-card blue">
                    <div class="service-card__text">
                      <div class="title-card"><h3>Jam Kerja dan Lembur</h3></div>
                        <p>Mengatur jumlah jam kerja normal, jam lembur, dan kompensasi yang harus diberikan.</p>
                    </div>
                </div>
                <div class="service-card">
                    <div class="service-card__text">
                      <div class="title-card"><h3>Keamanan dan Kesehatan Kerja</h3></div>
                        <p>Menetapkan standar keamanan dan kesehatan di tempat kerja untuk melindungi pekerja dari risiko kecelakaan dan penyakit.</p>
                    </div>
                </div>
                <div class="service-card blue">
                  <div class="service-card__text">
                    <div class="title-card"><h3>Pemutusan Hubungan Kerja</h3></div>
                      <p>Menetapkan prosedur dan kompensasi yang harus diberikan dalam hal pemutusan hubungan kerja, baik karena inisiatif pemberi kerja maupun pekerja.</p>
                  </div>
              </div>
              <div class="service-card">
                  <div class="service-card__text">
                    <div class="title-card"><h3>Perlindungan Khusus</h3></div>
                      <p>Menyediakan perlindungan khusus bagi kelompok pekerja tertentu, seperti pekerja perempuan, anak, dan penyandang disabilitas.</p>
                  </div>
              </div>
            </div>
            <div class="goals">
                <p>Secara keseluruhan, hukum ketenagakerjaan bertujuan untuk menciptakan lingkungan kerja yang adil dan harmonis, serta mendukung kesejahteraan dan produktivitas tenaga kerja.</p>
            </div>
        </section>
        
        <div class="image-right">
            <img src="../static/images/v242_1281.png">
        </div>

        <section class="laws-des">
          <h2>Undang-Undang Hukum Ketenagakerjaan</h2>
          <div class="des-blue">
            <img src="../static/images/img_no13.jpeg">
            <div class="des-text">
                <h3>Undang-Undang Nomor 13 Tahun 2003 tentang Ketenagakerjaan</h3>
                <p>Undang-Undang Nomor 13 Tahun 2003 tentang Ketenagakerjaan adalah peraturan yang mengatur berbagai aspek ketenagakerjaan di Indonesia. 
                Undang-undang ini mencakup hal-hal seperti hubungan kerja, perlindungan tenaga kerja, pengupahan, jaminan sosial tenaga kerja, serta pembinaan dan pengawasan tenaga kerja. 
                Tujuan utama dari undang-undang ini adalah untuk menjamin hak-hak pekerja, menciptakan kondisi kerja yang aman dan sehat, serta mendorong produktivitas dan kesejahteraan tenaga kerja.</p>
            </div>
          </div>
          <div class="des">
            <div class="des-text">
                <h3>Undang-Undang Nomor 11 Tahun 2020 (OMNIBUS LAW)</h3>
                <p>Undang-Undang Nomor 11 Tahun 2020 tentang Cipta Kerja, yang lebih dikenal dengan istilah Omnibus Law, adalah peraturan yang dirancang 
                untuk menyederhanakan berbagai regulasi dengan tujuan meningkatkan investasi dan penciptaan lapangan kerja di Indonesia. 
                UU ini menggabungkan dan mengubah berbagai undang-undang yang ada dalam satu paket kebijakan.</p>
                <p>UU No. 11 Tahun 2020 tentang Cipta Kerja merupakan langkah ambisius pemerintah Indonesia untuk merombak sistem regulasi 
                demi mendorong investasi dan menciptakan lapangan kerja. Meskipun memiliki tujuan yang positif, implementasi 
                dan dampak dari undang-undang ini masih menjadi perdebatan dan pengawasan ketat dari berbagai pemangku kepentingan di Indonesia.</p>
            </div>
              <img src="../static/images/img_no11.jpeg">
          </div>
        </section>
    </main>
</body>
<footer class="footer">
    <div class="footer__description">
        <p>Kami bangga memberikan solusi obrolan pintar yang mampu <br>
            meningkatkan pengalaman pelanggan di berbagai daerah Indonesia, <br>
            menghadirkan komunikasi yang lebih efisien dan responsif.</p>
    </div>
    <div class="footer__container">    
        <div class="footer__logo">
            <span>LARs</span>
        </div>
        <div class="footer__list">
            <div class="footer__nav">
                <span>DISCOVER</span>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">Services</a>
                <a href="#">People</a>
            </div>
            <div class="footer__contact">
                <span>CONTACT</span>
                <a>LARs@gmail.com</a>
                <a>0812 XXX XXX</a>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__copyright">
            <span>LARs &copy;2024</span>
        </div>
        <div class="footer__social">
            <a href="#">INSTAGRAM</a>
            <a href="#">BEHANCE</a>
            <a href="#">LINKED</a>
        </div>
    </div>
</footer>
<script src="{{ url_for('static', filename='Javascript/main.js') }}"></script>
</html>